@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');

*,*:after,*:before{
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

.App{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background: url('https://images.wallpaperscraft.com/image/planet_light_spots_space_86643_1920x1080.jpg') no-repeat center center;

}

.wrapper{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
}

.planetInfo{
    margin-bottom: 15px;
}

.planetInfo h1, .planetInfo p {
    font-family: 'Noto Sans SC', sans-serif !important;
    color: #fff;
}

.planetInfo h1{
    display: block;
    padding: 20px 0;
    margin: 0;
}

.getDay{
    text-align: center;
    font-size: 24px;
    font-family: 'Noto Sans SC', sans-serif !important;
    color: #fff;
    margin-top: 20px;
}

#selectDay{
    font-family: 'Noto Sans SC', sans-serif !important;
    font-size: 16px;
    margin-bottom: 15px;
}

#selectMonth{
    font-family: 'Noto Sans SC', sans-serif !important;
    font-size: 16px;
    margin-bottom: 15px;
}

#input-year{
    display: block;
    font-family: 'Noto Sans SC', sans-serif !important;
    font-size: 16px;
    width: 100%;
    height: 38px;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    transition: all 100ms;
    box-sizing: border-box;
    padding: 2px 10px;
    margin-bottom: 15px;
}

.buttonInput {
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    font-family: 'Noto Sans SC', sans-serif !important;
    transition: all .5s ease-in-out;
}

.buttonInput:hover{
    background: #222;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.error{
    position: absolute;
    bottom: 0;
    left: calc(50% - 137.5px);
    max-width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    background: red;
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans SC', sans-serif !important;
    text-transform: uppercase;
    margin-top: 20px;
    animation: err 1s ease-in-out 0s 1 normal forwards;
}

@media screen and (min-height: 600px){
    html{
        overflow: hidden;
    }
}

@keyframes err{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}